.flex_container {
    max-width: 100%;
    width: 100%;
    background: chartreuse;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex_box {
    width: 31.60%;
    height: 100px;
    background: red;
    border: 1px solid black;
    margin: 10px 10px;
}

/* 
mobile : 360px --> 600px
tablet : 600px --> 1200px
laptob : 1200px and more
 */

@media screen and (max-width : 1200px) and (min-width : 600px) {
    .flex_box {
        width: 47.5%;
        background: rgb(238, 6, 180);
    }
}

@media screen and (max-width : 600px) {
    .flex_box {
        background: #d5fa04;
        width: 100%;
    }
}